---
---

@import "{{ site.theme }}";

* {
  box-sizing: border-box;
}

table.sideimg {
  display: inline;
  float: right;
  margin: 0.5em;
  width: 25%;
}

.size-20 {
  width: 20%;
}

.size-25 {
  width: 25%;
}

.size-50 {
  width: 50%;
}

td > ul {
  padding-left: 1em !important;
}

:target {
  animation: target-fade 2s forwards;
}


@keyframes target-fade {
  0% {
    box-sizing: content-box;
    border-radius: 5px;
    border: 5px solid #ddd;
    background-color: #eee;
  }

  99% {
    box-sizing: content-box;
    border: 5 solid transparent;
    background-color: transparent;
  }

  100% {
    box-sizing: border-box;
  }
}