---
---

@import "{{ site.theme }}";

* { box-sizing: border-box !important; }

table.sideimg {
  display: inline;
  float: right;
  margin: 0.5em;
  width: 25%;
}

.size-20 { width: 20% !important; }
.size-25 { width: 25% !important; }
.size-50 { width: 50% !important; }

td > ul {
  padding-left: 1em !important;
}

sup > a.footnote {
  &::before {
    display: inline;
    content: '[';
  }

  &::after {
    display: inline;
    content: ']';
  }
}

:target:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  animation: target-fade 2s forwards;
}

.multimedia {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: fit-content fit-content;
  gap: 0.5em;
  grid-template-areas:
    "main         media"
    "bottom-media media";
}

.multimedia * {
  width: fit-content !important;
  margin: 0;
}

.multimedia > .side-media {
  grid-area: media;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.multimedia > .bottom-media { grid-area: bottom-media; }
.multimedia > .text { grid-area: main; }


@keyframes target-fade {
  0% {
    border-radius: 5px;
    border: 5px solid #ddd;
    margin: -5px;
    background-color: #eee;
  }

  100% {
    border-width: 0;
    margin: 0;
    background-color: transparent;
  }
}